@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Francois+One');
.fonte1{font-family: 'Bowlby One SC', cursive;}
.fonte2{font-family: 'Francois One', sans-serif;
}
.topo{height: 400px; background-color:#ccc}